/*
@media screen and (max-width: 479px) {
	#main {margin: 0px;}
	.panel{
		boder: unset;
	}
	#dw__pagetools { display : none; }
	.panel-body { padding: unset; }
	.panel { border:unset; }
	#dw__toc_menu {
		display:none;
	}
	#dw__toc_menu {
		display:table;
	}
	
	#dw__toc {
		display:none;
	}
}	
*/
